.vscode/

app/src/logs.log
app/src/best_model.pkl
app/src/dataset.csv

.DS_Store

__pycache__/

/package-lock.json

# ignore in all directories
**/credentials.json

backend/big_query.py

*.pkl
backend/bash.exe.stackdump
backend/.python-version
*.log
fish_data.csv