.vscode/

app/src/logs.log
app/src/best_model.pkl
app/src/dataset.csv

frontend/.eslintrc.json

.DS_Store

__pycache__/

/package-lock.json

# ignore in all directories
**/credentials.json

*.pkl
backend/bash.exe.stackdump
backend/.python-version
backend/big_query.py
*.log
fish_data.csv